body{
	 background-image: url("../img/img-natacion/natacion-fondo-country-club-caracas-2.jpg");
}

.slick-prev:before {
    content: '';
    display: none;
}

.slick-prev{
	display: none!important;
}

.slick-next:hover, .slick-next:focus {
   right: calc(50% - 15px);
   top: 90%;
   background-image: url("../img/downButtom.png");
   background-size: cover;
   background-position: center;
   height: 30px;
   width: 30px;
   opacity: 1;
}

.slick-vertical .slick-slide{
	border: 0px;
}

.slick-next:before {
    content: "";
}

.slick-next{
	opacity: 0;
	right: calc(50% - 15px);
    top: 90%;
    height: 30px;
   	width: 30px;
   	transition: all;
   	transition-duration: 0.5s;
}

#div-logo-pag{
  margin-top: 25vh;
}

#logo-pag{
  top:3vh;
  left: 2.8vh;
}

@media only screen  and (max-width: 560px){
  #div-logo-pag{
    margin-top: 120vh;
  }

  #header{
    height: 1100px;
  }
}

@media only screen  and (min-width: 561px) and (max-width:760px) {
  #div-logo-pag{
    margin-top: 110vh;
  }

  #header{
    height: 1100px;
  }
}