.col-md-1{
	padding-right: 0px;
    padding-left: 0px; 
}

.col-md-2{
	padding-right: 0px;
    padding-left: 0px; 
}

.col-md-4{
	padding-right: 0px;
    padding-left: 0px; 
}

.col-md-6{
	padding-right: 0px;
    padding-left: 0px; 
}

.col-md-12{
	padding-right: 0px;
    padding-left: 0px; 
}

body {
  background-image: url("../img/fondo-escritos.jpg");
}

#header {
     height: auto;
}

#div-contacto{
	border-bottom: 1px dotted #ccc;
}

#titulo-contacto{
	font-size: 21px;
	margin-left:14.5%;
}

.form-control{
	height: 21px;
	border-top: 1px solid #7c7c7c;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #ddd;
    background: #fff url("../img/topInput.gif") repeat-x top;
}

label{
	color: #222;
	font-weight: 600;
    font-size: 12px;
}

#divNombre{
	margin-right: 0.3em;
	width: 5.333333%;
}

#divApellidos{
	width: 8.33%;
}
.input-abajo{
	font-size: 11px;
	color: black;
}

form span.req{
	color: red;
}

.enviar{
	font-size: 16px;
	padding: 0px 5px;
}
#escrito{
	background-image: none; 
}

@media only screen and (max-width: 991px) and (max-height: 700px){

	#divApellidos{
		width: 20%;
	}

	#divNombre{
		width: 20%;
	}

}

@media only screen and (min-width: 360px) and (max-width: 991px) and (min-height:300px) {
	#divApellidos{
		width: 20%;
	}

	#divNombre{
		width: 20%;
	}
/*iphone x*/
}
