body{
	background-image: url("../img/ATC/atc-cancha7.jpg");
}

.slick-prev:before {
    content: '';
    display: none;
}

.slick-prev{
	display: none!important;
}

.slick-next:hover, .slick-next:focus {
   right: calc(50% - 15px);
   top: 90%;
   background-image: url("../img/downButtom.png");
   background-size: cover;
   background-position: center;
   height: 30px;
   width: 30px;
   opacity: 1;
}

.slick-vertical .slick-slide{
	border: 0px;
}

.slick-next:before {
    content: "";
}

.slick-next{
	opacity: 0;
	right: calc(50% - 15px);
    top: 90%;
    height: 30px;
   	width: 30px;
   	transition: all;
   	transition-duration: 0.5s;
}