body{
	background-image: url("../img/img-fundacion/Fondo_fundacion.jpg");
}

#logo-pag {
    width: 88%;
    right: 0%;
    bottom: 5vh;
}

section h2{
	font-family: "Pinyon Script", arial, sans-serif;
	color: #61726c;
	font-weight: bold;
	line-height: 1.35;
	font-size: 35px;
}

section h3{
	color: rgb(97, 114, 108);
	font-weight: 300;
	font-size: 16px;
}
.resultados{
	background: #f8f8f8;
	padding:5px;
	border: 1px solid #dfdfdf;
	margin: 3px 0px;
	border-radius: 6px;
}

.contenido{
	padding: 8px 0 8px 11px;
}

a{
	text-decoration: none;
	cursor: pointer;
}
a:hover {
    text-decoration: none;
}

section i{
	font-size: 14px;
	color: #ccc;
	font-weight: bold;
	float: none!important;
}

.titulo-tabla{
	display: inline;
}

td{
	padding: 10px;
	font-weight: bold;
}

.texto-tabla{
	font-family: "Josefin Sans", arial, sans-serif;
	line-height: 1.7;
	margin: 0 0 18px;
	text-align: justify;
}


tr:hover{
	background-color: #ece9e9;
}

.area{
	vertical-align: top;
}

#directiva{
	position: relative;
	top: 3.5vh;
}

.texto-escrito{
	margin: 5.5px 0px;
}

.horizontal{
	height: 285px;
    margin-top: 10vh;
}

.slick-next {
    right: calc(46% - 30px);
    background: url('../img/img-fundacion/slideshow-controls.png');
    background-repeat: no-repeat;
    background-position: 102%;
    background-color: rgba(0,0,0,.6);
    border: 2px solid rgba(255,255,255,.1);
    border-radius: 19px;
    padding: 16px;
    background-size: 210px;
    opacity: .5;
}

.slick-next:before{
	content: "";
}

.slick-next:hover{
	background: url('../img/img-fundacion/slideshow-controls.png');
	background-repeat: no-repeat;
	background-position: 102%;
    background-color: rgba(0,0,0,.6);
    border: 2px solid rgba(255,255,255,.1);
    border-radius: 19px;
    padding: 16px;
    background-size: 210px;
    opacity: 1;
    border-color: rgba(255,255,255,1);
}

.slick-prev {
	z-index: 3;
	left: calc(46% - 30px);
	background: url('../img/img-fundacion/slideshow-controls.png');
    background-repeat: no-repeat;
    background-position: 69%;
    background-color: rgba(0,0,0,.6);
    border: 2px solid rgba(255,255,255,.1);
    border-radius: 19px;
    padding: 16px;
    background-size: 210px;
    opacity: .5;
}

.slick-prev:before {
    content: '';
}

.slick-prev, .slick-next{
	top: 91%;
	margin: 0px -1vh 0px -1vh;
}

.slick-prev:hover{
	z-index: 3;
	left: calc(46% - 30px);
	background: url('../img/img-fundacion/slideshow-controls.png');
    background-repeat: no-repeat;
    background-position: 69%;
    background-color: rgba(0,0,0,.6);
    border: 2px solid rgba(255,255,255,.1);
    border-radius: 19px;
    padding: 16px;
    background-size: 210px;
    opacity: 1;
    border-color: rgba(255,255,255,1);
}

.slick-prev:focus,.slick-next:focus {
  color: transparent;
  outline: none;
  background-color: rgba(0,0,0,1);
}

.slick-prev:focus{
  background: url('../img/img-fundacion/slideshow-controls.png');
  background-repeat: no-repeat;
  background-position: 69%;
  border: 2px solid rgba(255,255,255,.1);
  border-radius: 19px;
  padding: 16px;
  background-size: 210px;
  opacity: 1;
  background-color: rgba(0,0,0,1);


}

.slick-next:focus{
   background: url('../img/img-fundacion/slideshow-controls.png');
   background-repeat: no-repeat;
   background-position: 102%;
   border: 2px solid rgba(255,255,255,.1);
   border-radius: 19px;
   padding: 16px;
   background-size: 210px;
   opacity: 1;
   background-color: rgba(0,0,0,1);

}

@media screen and (min-height: 690px) and (max-height: 860px){
	.slick-prev, .slick-next
	{
	top: 95%;
	}

}

@media screen and (min-height: 861px) and (max-height: 1030px){
	.slick-prev, .slick-next
	{
	top: 99%;
	}

}

@media screen and (min-height: 1031px) and (max-height: 1200px){
	.slick-prev, .slick-next
	{
	top: 103%;
	}

}

@media screen and (min-height: 1201px) and (max-height: 1320px){
	.slick-prev, .slick-next
	{
	top: 107%;
	}

}

@media screen and (min-height: 1321px) and (max-height: 1440px){
	.slick-prev, .slick-next
	{
	top: 93%;
	}

	.horizontal{
	margin-top: 5vh;
	}

}

@media screen and (min-height: 1441px) and (max-height: 1660px){
	.slick-prev, .slick-next
	{
	top: 96%;
	}

	.horizontal{
		margin-top: 5vh;
	}
}

@media screen and (min-height: 1661px) and (max-height: 1800px){
	.slick-prev, .slick-next
	{
	top: 99%;
	}

	.horizontal{
		margin-top: 5vh;
	}
}

@media screen and (min-height: 1801px) and (max-height: 2100px){
	.slick-prev, .slick-next
	{
	top: 102%;
	}

	.horizontal{
		margin-top: 5vh;
	}
}
